@font-face {
  font-family: 'Droid Serif';
  src: url(../fonts/DroidSerif.ttf) format("truetype");
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 18px;
  color: #333;

}

h1, h2 {
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 40px;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 36px;
}

.Page {
  border-bottom: 1px solid #333;
  padding: 40px;
}

code.language-javascript {
  display: inline-block;
  white-space: pre-wrap;
  width: 100%;
}

code.language-javascript.inline-code {
  display: inline;
}